<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h1 class="h4">
            Registrar Usuario 
        </h1>
      
      </div>
      <img class="rounded-circle mx-auto d-block logo m-4" src="/img/logo.png" alt="Logo">
      <div class="card-body">
        <form action="/users/signup" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Name" value="{{name}}">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" value="{{password}}">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" value="{{confirm_password}}">
          </div>
           </div>
          <div class="form-group">
            <select class="form-control" name="course">
              <option value="" selected disabled>Selecciona un curso</option>
              <option value="Circuitos I">Circuitos I</option>
              <option value="Circuitos II">Circuitos II</option>
              <option value="Electronica I">Electronica I</option>
              <option value="Electronica II">Electronica II</option>
              <option value="Electronica III">Electronica III</option>
              <option value="Dise単o Digital I">Dise単o Digital I</option>
              <option value="Dise単o Digital II">Dise単o Digital II</option>
            </select>
          </div>
          <div class="form-group">
              <label for="perfil">Perfil del registro</label>
              <select class="form-control" name="perfil" id="perfil">
                <option value="" disabled selected>Selecciona un perfil</option>
                <option value="Docente">Docente</option>
                <option value="Estudiante">Estudiante</option>
              </select>
          </div>
          <div class="form-group">
            <input type="claveregistro" class="form-control" name="claveregistro" placeholder="Clave para registro" value="{{claveregistro}}">
          </div>
          <button class="btn btn-primary btn-block">
            Registrar 
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
